<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- Meta data -->
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="icon" href="../../static/assets/images/brand/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/assets/images/brand/favicon.ico"/>

    <!-- Title -->
    <title>Addonis</title>

    <!-- Bootstrap css -->
    <link href="../../static/assets/plugins/bootstrap-4.3.1/css/bootstrap.min.css"
          th:href="@{/assets/plugins/bootstrap-4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Style css -->
    <link href="../../static/assets/css/style.css"
          th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link href="../../static/assets/css/skin-modes.css"
          th:href="@{/assets/css/skin-modes.css}" rel="stylesheet"/>

    <!-- Font-awesome  css -->
    <link href="../../static/assets/css/icons.css"
          th:href="@{/assets/css/icons.css}" rel="stylesheet"/>

    <!--Select2 css-->
    <link href="../../static/assets/plugins/select2/select2.min.css"
          th:href="@{/assets/plugins/select2/select2.min.css}" rel="stylesheet"/>

    <!-- File Uploads css -->
    <link href="../../static/assets/plugins/fancyuploder/fancy_fileupload.css"
          th:href="@{/assets/plugins/fancyuploder/fancy_fileupload.css}" rel="stylesheet"/>

    <!-- Custom scroll bar css-->
    <link href="../../static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css"
          th:href="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css}" rel="stylesheet"/>

    <!--Image-tooltip css-->
    <link href="../../static/assets/plugins/image-tooltip/image-tooltip.css"
          th:href="@{/assets/plugins/image-tooltip/image-tooltip.css}" rel="stylesheet"/>

    <!-- Color Skin css -->
    <link id="theme" rel="stylesheet" type="text/css" media="all"
          href="../../static/assets/color-skins/color7.css"
          th:href="@{/assets/color-skins/color7.css}"/>

</head>

<body class="headerstyle3">

<!--Loader-->
<div id="global-loader">
</div><!--/Loader-->

<!--Section-->
<div class="cover-image bg-background3" data-image-src="../assets/images/banners/banner4.jpg">
    <!--Topbar-->
    <div class="header-main">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-sm-4 col-7">
                        <div class="top-bar-left d-flex">
                            <div class="clearfix">
                                <ul class="socials">

                                </ul>
                            </div>
                            <div class="clearfix">

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-8 col-5">
                    </div>
                </div>
            </div>
        </div><!--/Topbar-->

        <!--Header-->
        <header class="header-search header-logosec p-2 header-icons">
            <div class="container">
                <div class="d-flex">
                    <div class="header-search-logo d-none d-lg-block">
<!--                        <a class="header-logo header-brand-img" href="../index.html"></a>-->
                    </div>
                    <div class="d-flex ml-auto header-right-icons header-search-icon">
                        <div class="dropdown d-md-flex notifications">

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow cart-dropdown">
                                <div class="drop-cart header-dropdown-list">
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/01.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">HTML Template</span>
                                                    <div class="fs-13 text-muted">HTML</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$24</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/02.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">Wordpress Template</span>
                                                    <div class="fs-13 text-muted">Wordpress</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$18</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/03.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">Angular Template</span>
                                                    <div class="fs-13 text-muted">Angular</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$22</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/04.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">PHP Template</span>
                                                    <div class="fs-13 text-muted">PHP</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$12</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/05.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">PSD Template</span>
                                                    <div class="fs-13 text-muted">PSD</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$5</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-footer">
                                    <div class="btn-list">
                                        <a href="cart.html" class="btn btn-primary  ripple mb-lg-0">View Cart</a>
                                        <a href="checkout.html" class=" btn btn-secondary  ripple mb-lg-0">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- NOTIFICATIONS -->
                        <div class="dropdown d-md-flex notifications">

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <div class="notifications-menu header-dropdown-list">
                                    <a href="#" class="dropdown-item d-flex">
                                        <div class="text-primary fs-18 mr-3 ">
                                            <i class="fe fe-mail text-primary"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">Commented on your post.</h6>
                                            <div class="small text-muted">3 hours ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-secondary fs-18 mr-3 ">
                                            <i class="fe fe-user text-secondary"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">New User Registered.</h6>
                                            <div class="small text-muted">1 day ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-success fs-18 mr-3 ">
                                            <i class="fe fe-thumbs-up text-success"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">Someone likes our posts</h6>
                                            <div class="small text-muted">5 mins ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-purple fs-18 mr-3 ">
                                            <i class="fe fe-upload text-purple"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">New file has been uploaded</h6>
                                            <div class="small text-muted">50 sec ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-danger fs-18 mr-3 ">
                                            <i class="fe fe-alert-circle text-danger"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">System alert</h6>
                                            <div class="small text-muted">2 days ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-warning fs-18 mr-3 ">
                                            <i class="fe fe-server text-warning"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">Server Rebooted</h6>
                                            <div class="small text-muted">45 mins ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-secondary fs-18 mr-3 ">
                                            <i class="fe fe-layers text-secondary"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">Completed One task</h6>
                                            <div class="small text-muted">3 mins ago</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-footer p-3">
                                    <a href="#" class="fs-14 text-dark text-center">View all Notification</a>
                                </div>
                            </div>
                        </div><!-- NOTIFICATIONS -->
                        <div class="dropdown d-md-flex message">

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <div class="message-menu header-dropdown-list">
                                    <a class="dropdown-item border-bottom" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image"
                                                      data-image-src="../assets/images/users/male/1.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Jack Wright</span> all the best
                                                    your template awesome
                                                    <div class="small text-muted">
                                                        3 hours ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround  align-self-center cover-image"
                                                      data-image-src="../assets/images/users/female/1.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Lisa Rutherford</span> Hey! there
                                                    I'm available
                                                    <div class="small text-muted">
                                                        5 hour ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround  align-self-center cover-image"
                                                      data-image-src="../assets/images/users/male/2.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Blake Walker</span> just created
                                                    a new blog post
                                                    <div class="small text-muted">
                                                        45 mintues ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image"
                                                      data-image-src="../assets/images/users/female/2.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Fiona Morrison</span> added new
                                                    comment on your photo
                                                    <div class="small text-muted">
                                                        2 days ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround  align-self-center cover-image"
                                                      data-image-src="../assets/images/users/male/4.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Stewart Bond</span> your payment
                                                    invoice is generated
                                                    <div class="small text-muted">
                                                        3 days ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround  align-self-center cover-image"
                                                      data-image-src="../assets/images/users/female/5.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Faith Dickens</span> please check
                                                    your mail....
                                                    <div class="small text-muted">
                                                        4 days ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-center">See all Messages</a>
                            </div>
                        </div><!-- MESSAGE-BOX -->
                        <div class="dropdown d-md-flex profile-1">
                            <a th:if="${isAuthenticated}" class="nav-link icon text-center" data-toggle="dropdown">
                                <i class="fe fe-user"></i>
                                <span class="pulse bg-success"></span>
                            </a>
                            <div class="top-bar-right">
                                <ul class="custom">
                                    <li th:unless="${isAuthenticated}">
                                        <a href="register.html"
                                           th:href="@{/auth/register}"
                                           class="text-dark"><i class="fa fa-user mr-1"></i>
                                            <span>Register</span></a>
                                    </li>
                                    <li th:unless="${isAuthenticated}">
                                        <a href="login.html"
                                           th:href="@{/auth/login}"
                                           class="text-dark"><i class="fa fa-sign-in mr-1"></i>
                                            <span>Login</span></a>
                                    </li>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <div class="drop-heading">
                                            <div class="text-center">
                                                <h5 class="text-dark mb-1"><h2 th:if="${isAuthenticated}"
                                                                               th:text="${session.currentUser}"></h2>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="dropdown-divider m-0"></div>
                                        <a class="dropdown-item" href="users/edit-profile.html"
                                           th:href="@{/user/updateDetails}">
                                            <i class="dropdown-icon ti-write"></i>Edit Profile
                                        </a>

                                        <div class="dropdown-divider mt-0"></div>
                                        <a class="dropdown-item" th:href="@{/auth/logout}">
                                            <i class="dropdown-icon ti-unlock"></i> Logout
                                        </a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header><!--/Header-->

        <!-- Mobile Header -->
        <div class="horizontal-header clearfix ">
            <div class="container">
                <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
                <span class="smllogo"><img src="../assets/images/brand/logo1.png" width="120" alt="img"/></span>
                <span class="smllogo-white"><img src="../assets/images/brand/logo.png" width="120" alt="img"/></span>
                <a href="tel:245-6325-3256" class="callusbtn"><i class="fa fa-phone" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- /Mobile Header -->

        <!--Horizontal-main -->
        <div class="header-style horizontal-main bg-dark-transparent clearfix">
            <div class="horizontal-mainwrapper container clearfix">
                <nav class="horizontalMenu clearfix d-md-flex">
                    <ul class="horizontalMenu-list">
                        <li aria-haspopup="true"><i class="fe fe-home"></i><a th:href="@{/}">Home </a></li>
                        <li aria-haspopup="true" th:if="${isAdmin}">
                            <i class="fe fe-codepen"></i><a th:href="@{/auth/addons/approve}">Approve New Addons</a>
                        </li>
                        <li aria-haspopup="true">
                            <i class="fe fe-codepen"></i><a th:href="@{/addons/all}">All Addons</a>
                        </li>
                        <li aria-haspopup="true" th:if="${isAdmin}">
                            <i class="fe fe-users"></i><a th:href="@{/admins/users/all}">All Users</a></li>
                        <li aria-haspopup="true" th:if="${isEnabledUser}">
                            <i class="fe fe-upload"></i> <a th:href="@{/auth/addons/new}"> Upload Addon</a></li>
                        <li aria-haspopup="true" th:if="${isEnabledUser}">
                            <i class="fa fa-envelope"></i> <a th:href="@{/user/invite}"> Invite a friend</a></li>
                        <li aria-haspopup="true"><i class="fe fe-globe"></i><a th:href="@{/contact}"> Contacts</a>
                        </li>
                    </ul>
                    <ul class="mb-0">
                    </ul>
                </nav>
            </div>
        </div>
    </div><!--/Horizontal-main -->

    <!--Section-->
    <section>
        <div class="bannerimg">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white">
                        <h1>Create Addon</h1>
                        <ol class="breadcrumb text-center">
                            <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                            <!--                            <li class="breadcrumb-item"><a href="#">Pages</a></li>-->
                            <!--                            <li class="breadcrumb-item active text-white" aria-current="page">Item Posts</li>-->
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Section-->
</div><!--/Section-->

<!--Section-->
<section class="sptb">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 col-md-12 col-md-12">
                <div class="card mb-xl-0">
                    <!-- Form DIV -->
                    <div class="card-body">

<!--                              th:action="@{__${#httpServletRequest.requestURI}__}"-->
                        <form th:fragment="addon-form"
                              th:action="@{__${#httpServletRequest.requestURI}__}"
                              th:object="${addon}"
                              method="post" enctype="multipart/form-data">

                            <div class="form-group">

                                <label style="color: red" class="error" th:errors="*{name}">Error
                                    placeholder </label>
                                <label class="form-label text-dark">Title</label>
                                <input type="text" class="form-control" placeholder="Enter Title"
                                       th:field="*{name}">

                            </div>

                            <div class="form-group">
                                <label class="form-label text-dark">IDE</label>
                                <select class="form-control custom-select select2-show-search"
                                        th:field="*{ideId}">
                                    <option th:each="ide : ${populatedIdes}"
                                            th:value="${ide.getId()}"
                                            th:text="${ide.getName()}">First IDE
                                    </option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label style="color: red" class="error" th:errors="*{tags}">Error
                                    placeholder </label>
                                <label class="form-label text-dark">Tags</label>
                                <input type="text" class="form-control" placeholder="Enter Tags"
                                       th:field="*{tags}">
                            </div>

                            <div class="form-group">
                                <label style="color: red" class="error" th:errors="*{description}">Error
                                    placeholder </label>
                                <label class="form-label text-dark">Description</label>
                                <textarea class="form-control" name="example-textarea-input" rows="6"
                                          placeholder="Enter description.."
                                          th:field="*{description}"></textarea>
                            </div>

                            <div class="p-2 border mb-4 form-group">
                                <!--                                &lt;!&ndash;Error message&ndash;&gt;-->
                                <!--                                <label style="color: red" class="error" th:errors="*{image}">Name should be unique</label>-->
                                <label class="form-label text-dark">Upload Image</label>
                                <label>File</label>
                                <input type="file" name="files" th:name="image">
                            </div>

                            <div class="p-2 border mb-4 form-group">
                                <!--                                &lt;!&ndash;Error message&ndash;&gt;-->
                                <!--                                <label style="color: red" class="error" th:errors="*{binaryContent}">Name should be unique</label>-->
                                <label class="form-label text-dark">Upload File</label>
                                <label>File</label>
                                <input type="file" name="files" th:name="binaryContent">
                            </div>

                            <div class="form-group">
                                <label style="color: red" class="error" th:errors="*{originLink}">Error
                                    placeholder </label>
                                <label class="form-label text-dark">Origin Link</label>
                                <input type="text" class="form-control" placeholder=""
                                       th:field="*{originLink}">
                            </div>

                            <div class="card-footer text-right">
                                <button type="Submit" value="Save" class="btn btn-primary">Save
                                </button>
                            </div>
                        </form>

                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Benefits Of Creating an Addon</h3>
                    </div>
                    <div class="card-body pb-2">
                        <ul class="list-unstyled widget-spec vertical-scroll mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Share knowledge with other
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Help to expand the dev
                                community
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Create new contacts
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Something else
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Something else
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Something else
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium Items Active
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads are displayed on
                                top
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads will be Show in
                                Google results
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium Items Active
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads are displayed on
                                top
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads will be Show in
                                Google results
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium Items Active
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads are displayed on
                                top
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads will be Show in
                                Google results
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Terms And Conditions</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled widget-spec  mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>All uploaded Addons are
                                public
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>All registered can download
                                the addons
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Uploading and downloading of
                                plugins is free of charge
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="card-title">Safety</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled widget-spec  mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i> All software products are
                                virus free
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i> All registered users are
                                real
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i> Something else
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/Section-->


<!--Footer Section-->
<section>
    <footer class="bg-dark text-white">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <h6>About</h6>
                        <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>Addonis - The better add-ons registry</p>
                        <ul class="list-unstyled list-inline mt-3">
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <h6>Our Services</h6>
                        <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="list-unstyled mb-0">
                            <li><a href="javascript:;">Our Team</a></li>
                            <li><a href="javascript:;">Contact US</a></li>
                            <li><a href="javascript:;">About</a></li>
                            <li><a href="javascript:;">Services</a></li>
                            <li><a href="javascript:;">Blog</a></li>
                            <li><a href="javascript:;">Terms and Services</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <h6>Contact</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="footer-conatct list-unstyled mb-0 contact-footer">
                            <li>
                                <a><i class="fa fa-home mr-3 text-white"></i>Hristian Ivanov</a>
                            </li>
                            <li>
                                <a><i class="fa fa-envelope mr-3 text-white"></i> hristian.ivanov100@gmail.com</a>
                            </li>
                            <li>
                                <a><i class="fa fa-phone mr-3 text-white"></i> +359 896 710 557</a>
                            </li>
                            <li>
                                <a><i class="fa fa-home mr-3 text-white"></i>Ivan Ivanov</a>
                            </li>
                            <li>
                                <a><i class="fa fa-envelope mr-3 text-white"></i>ivanov.biol@abv.bg</a>
                            </li>
                            <li>
                                <a><i class="fa fa-phone mr-3 text-white"></i> +359 883 315 999</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="bg-dark text-white-50 p-0">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center">
                        Copyright © 2021 <a href="#" class="fs-14 text-primary">Graduate Team Project</a>. Designed by
                        <a href="#"
                           class="fs-14 text-primary">
                            Hristian and Ivan Team </a>All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--Footer Section-->

<!-- Back to top -->
<a href="#top" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

<!-- JQuery js-->
<script src="../../static/assets/js/jquery-3.2.1.min.js"
        th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>

<!-- Bootstrap js -->
<script src="../../static/assets/plugins/bootstrap-4.3.1/js/popper.min.js"
        th:src="@{/assets/plugins/bootstrap-4.3.1/js/popper.min.js}"></script>
<script src="../../static/assets/plugins/bootstrap-4.3.1/js/bootstrap.min.js"
        th:src="@{/assets/plugins/bootstrap-4.3.1/js/bootstrap.min.js}"></script>

<!--JQuery IT Itemsrkline js-->
<script src="../../static/assets/js/jquery.sparkline.min.js"
        th:src="@{/assets/js/jquery.sparkline.min.js}"></script>

<!-- Circle Progress js-->
<script src="../../static/assets/js/circle-progress.min.js"
        th:src="@{/assets/js/circle-progress.min.js}"></script>

<!-- Star Rating js-->
<script src="../../static/assets/plugins/rating/jquery.rating-stars.js"
        th:src="@{/assets/plugins/rating/jquery.rating-stars.js}"></script>

<!--Owl Carousel js -->
<script src="../../static/assets/plugins/owl-carousel/owl.carousel.js"
        th:src="@{/assets/plugins/owl-carousel/owl.carousel.js}"></script>

<!--Horizontal Menu js-->
<script src="../../static/assets/plugins/horizontal-menu/horizontal-menu.js"
        th:src="@{/assets/plugins/horizontal-menu/horizontal-menu.js}"></script>

<!--JQuery TouchSwipe js-->
<script src="../../static/assets/js/jquery.touchSwipe.min.js"
        th:src="@{/assets/js/jquery.touchSwipe.min.js}"></script>

<!--Select2 js -->
<script src="../../static/assets/plugins/select2/select2.full.min.js"
        th:src="@{/assets/plugins/select2/select2.full.min.js}"></script>
<script src="../../static/assets/js/select2.js"
        th:src="@{/assets/js/select2.js}"></script>

<!-- Custom scroll bar js-->
<script src="../../static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js"
        th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js}"></script>

<!-- sticky js-->
<script src="../../static/assets/js/sticky.js"
        th:src="@{/assets/js/sticky.js}"></script>

<!-- Image-tooltip js -->
<script src="../../static/assets/plugins/image-tooltip/image-tooltip.js"
        th:src="@{/assets/plugins/image-tooltip/image-tooltip.js}"></script>

<!-- Vertical scroll bar js-->
<script src="../../static/assets/plugins/vertical-scroll/jquery.bootstrap.newsbox.js"
        th:src="@{/assets/plugins/vertical-scroll/jquery.bootstrap.newsbox.js}"></script>
<script src="../../static/assets/plugins/vertical-scroll/vertical-scroll.js"
        th:src="@{/assets/plugins/vertical-scroll/vertical-scroll.js}"></script>

<!--File-Uploads js-->
<script src="../../static/assets/plugins/fancyuploder/jquery.ui.widget.js"
        th:src="@{/assets/plugins/fancyuploder/jquery.ui.widget.js}"></script>
<script src="../../static/assets/plugins/fancyuploder/jquery.fileupload.js"
        th:src="@{/assets/plugins/fancyuploder/jquery.fileupload.js}"></script>
<script src="../../static/assets/plugins/fancyuploder/jquery.iframe-transport.js"
        th:src="@{/assets/plugins/fancyuploder/jquery.iframe-transport.js}"></script>
<script src="../../static/assets/plugins/fancyuploder/jquery.fancy-fileupload.js"
        th:src="@{/assets/plugins/fancyuploder/jquery.fancy-fileupload.js}"></script>
<script src="../../static/assets/plugins/fancyuploder/fancy-uploader.js"
        th:src="@{/assets/plugins/fancyuploder/fancy-uploader.js}"></script>

<!-- Custom scroll bar js-->
<script src="../../static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js"
        th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js}"></script>

<!-- Swipe js-->
<script src="../../static/assets/js/swipe.js"
        th:src="@{/assets/js/swipe.js}"></script>

<!-- Scripts js-->
<script src="../../static/assets/js/owl-carousel.js"
        th:src="@{/assets/js/owl-carousel.js}"></script>

<!-- Custom Js-->
<script src="../../static/assets/js/custom.js"
        th:src="@{/assets/js/custom.js}"></script>

</body>
</html>