<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Meta data -->
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="icon" href="../assets/images/brand/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/brand/favicon.ico"/>

    <!-- Title -->
    <title>Addonis</title>

    <!-- Bootstrap css -->
    <link href="../../static/assets/plugins/bootstrap-4.3.1/css/bootstrap.min.css"
          th:href="@{/assets/plugins/bootstrap-4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Style css -->
    <link href="../../static/assets/css/style.css"
          th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link href="../../static/assets/css/skin-modes.css"
          th:href="@{/assets/css/skin-modes.css}" rel="stylesheet"/>

    <!-- Font-awesome  css -->
    <link href="../../static/assets/css/icons.css"
          th:href="@{/assets/css/icons.css}" rel="stylesheet"/>

    <!-- Owl Theme css-->
    <link href="../../static/assets/plugins/owl-carousel/owl.carousel.css"
          th:href="@{/assets/plugins/owl-carousel/owl.carousel.css}" rel="stylesheet"/>

    <!--Select2 css -->
    <link href="../../static/assets/plugins/select2/select2.min.css"
          th:href="@{/assets/plugins/select2/select2.min.css}" rel="stylesheet"/>

    <!-- Custom scroll bar css-->
    <link href="../../static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css"
          th:href="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css}" rel="stylesheet"/>

    <!-- Nice-Select css-->
    <link href="../../static/assets/plugins/jquery-nice-select/css/nice-select.css"
          th:href="@{/assets/plugins/jquery-nice-select/css/nice-select.css}" rel="stylesheet"/>

    <!--Image-tooltip css-->
    <link href="../../static/assets/plugins/image-tooltip/image-tooltip.css"
          th:href="@{/assets/plugins/image-tooltip/image-tooltip.css}" rel="stylesheet"/>

    <!-- Color Skin css -->
    <link id="theme" th:href="@{/assets/color-skins/color7.css}"
          rel="stylesheet" type="text/css" media="all" href="../../static/assets/color-skins/color7.css"/>

</head>

<body class="headerstyle3">

<!--Loader-->
<div id="global-loader">
</div><!--/Loader-->

<!--Section-->
<div class="cover-image bg-background" data-image-src="../assets/images/banners/banner4.jpg">
    <!--Topbar-->
    <div class="header-main">
        <div class="top-bar">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div><!--/Topbar-->

        <!--Header-->
        <header class="header-search header-logosec p-2 header-icons">
            <div class="container">
                <div class="d-flex">
                    <div class="header-search-logo d-none d-lg-block">
<!--                        <a class="header-logo header-brand-img" href="index.html"></a>-->
                    </div>
                    <div class="d-flex ml-auto header-right-icons header-search-icon">
                        <div class="dropdown d-md-flex notifications">

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow cart-dropdown">
                                <div class="drop-cart header-dropdown-list">
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/01.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">HTML Template</span>
                                                    <div class="fs-13 text-muted">HTML</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$24</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/02.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">Wordpress Template</span>
                                                    <div class="fs-13 text-muted">Wordpress</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$18</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/03.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">Angular Template</span>
                                                    <div class="fs-13 text-muted">Angular</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$22</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/04.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">PHP Template</span>
                                                    <div class="fs-13 text-muted">PHP</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$12</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/05.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">PSD Template</span>
                                                    <div class="fs-13 text-muted">PSD</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$5</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-footer">
                                    <div class="btn-list">
                                        <a href="cart.html" class="btn btn-primary  ripple mb-lg-0">View Cart</a>
                                        <a href="checkout.html" class=" btn btn-secondary  ripple mb-lg-0">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- NOTIFICATIONS -->
                        <div class="dropdown d-md-flex notifications">

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <div class="notifications-menu header-dropdown-list">
                                    <a href="#" class="dropdown-item d-flex">
                                        <div class="text-primary fs-18 mr-3 ">
                                            <i class="fe fe-mail text-primary"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">Commented on your post.</h6>
                                            <div class="small text-muted">3 hours ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-secondary fs-18 mr-3 ">
                                            <i class="fe fe-user text-secondary"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">New User Registered.</h6>
                                            <div class="small text-muted">1 day ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-success fs-18 mr-3 ">
                                            <i class="fe fe-thumbs-up text-success"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">Someone likes our posts</h6>
                                            <div class="small text-muted">5 mins ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-purple fs-18 mr-3 ">
                                            <i class="fe fe-upload text-purple"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">New file has been uploaded</h6>
                                            <div class="small text-muted">50 sec ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-danger fs-18 mr-3 ">
                                            <i class="fe fe-alert-circle text-danger"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">System alert</h6>
                                            <div class="small text-muted">2 days ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-warning fs-18 mr-3 ">
                                            <i class="fe fe-server text-warning"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">Server Rebooted</h6>
                                            <div class="small text-muted">45 mins ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-secondary fs-18 mr-3 ">
                                            <i class="fe fe-layers text-secondary"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">Completed One task</h6>
                                            <div class="small text-muted">3 mins ago</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-footer p-3">
                                    <a href="#" class="fs-14 text-dark text-center">View all Notification</a>
                                </div>
                            </div>
                        </div><!-- NOTIFICATIONS -->
                        <div class="dropdown d-md-flex message">

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <div class="message-menu header-dropdown-list">
                                    <a class="dropdown-item border-bottom" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image"
                                                      data-image-src="../assets/images/users/male/1.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Jack Wright</span> all the best
                                                    your template awesome
                                                    <div class="small text-muted">
                                                        3 hours ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround  align-self-center cover-image"
                                                      data-image-src="../assets/images/users/female/1.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Lisa Rutherford</span> Hey! there
                                                    I'm available
                                                    <div class="small text-muted">
                                                        5 hour ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround  align-self-center cover-image"
                                                      data-image-src="../assets/images/users/male/2.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Blake Walker</span> just created
                                                    a new blog post
                                                    <div class="small text-muted">
                                                        45 mintues ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image"
                                                      data-image-src="../assets/images/users/female/2.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Fiona Morrison</span> added new
                                                    comment on your photo
                                                    <div class="small text-muted">
                                                        2 days ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround  align-self-center cover-image"
                                                      data-image-src="../assets/images/users/male/4.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Stewart Bond</span> your payment
                                                    invoice is generated
                                                    <div class="small text-muted">
                                                        3 days ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround  align-self-center cover-image"
                                                      data-image-src="../assets/images/users/female/5.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Faith Dickens</span> please check
                                                    your mail....
                                                    <div class="small text-muted">
                                                        4 days ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-center">See all Messages</a>
                            </div>
                        </div><!-- MESSAGE-BOX -->
                        <div class="dropdown d-md-flex profile-1">
                            <a th:if="${isAuthenticated}" class="nav-link icon text-center" data-toggle="dropdown">
                                <i class="fe fe-user"></i>
                                <span class="pulse bg-success"></span>
                            </a>
                            <div class="top-bar-right">
                                <ul class="custom">
                                    <li th:unless="${isAuthenticated}">
                                        <a href="register.html"
                                           th:href="@{/auth/register}"
                                           class="text-dark"><i class="fa fa-user mr-1"></i>
                                            <span>Register</span></a>
                                    </li>
                                    <li th:unless="${isAuthenticated}">
                                        <a href="login.html"
                                           th:href="@{/auth/login}"
                                           class="text-dark"><i class="fa fa-sign-in mr-1"></i>
                                            <span>Login</span></a>
                                    </li>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <div class="drop-heading">
                                            <div class="text-center">
                                                <h5 class="text-dark mb-1"><h2 th:if="${isAuthenticated}"
                                                                               th:text="${session.currentUser}"></h2>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="dropdown-divider m-0"></div>
                                        <a class="dropdown-item" href="mydash.html" th:href="@{/user/updateDetails}">
                                            <i class="dropdown-icon ti-write"></i>Edit Profile
                                        </a>
                                        <div class="dropdown-divider mt-0"></div>
                                        <a th:if="${isAuthenticated}"
                                           class="dropdown-item" th:href="@{/auth/logout}">
                                            <i class="dropdown-icon ti-unlock"></i> Logout
                                        </a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header><!--/Header-->

        <!-- Mobile Header -->
        <div class="horizontal-header clearfix ">
            <div class="container">
                <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
                <span class="smllogo"><img src="../assets/images/brand/logo1.png" width="120" alt="img"/></span>
                <span class="smllogo-white"><img src="../assets/images/brand/logo.png" width="120" alt="img"/></span>
                <a href="tel:245-6325-3256" class="callusbtn"><i class="fa fa-phone" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- /Mobile Header -->

        <!--Horizontal-main -->
        <div class="header-style horizontal-main bg-dark-transparent clearfix">
            <div class="horizontal-mainwrapper container clearfix">
                <nav class="horizontalMenu clearfix d-md-flex">
                    <ul class="horizontalMenu-list">
                        <li aria-haspopup="true"><i class="fe fe-home"></i><a th:href="@{/}">Home </a></li>
                        <li aria-haspopup="true" th:if="${isAdmin}">
                            <i class="fe fe-codepen"></i><a th:href="@{/auth/addons/approve}">Approve New Addons</a>
                        </li>
                        <li aria-haspopup="true">
                            <i class="fe fe-codepen"></i><a th:href="@{/addons/all}">All Addons</a>
                        </li>
                        <li aria-haspopup="true" th:if="${isAdmin}">
                            <i class="fe fe-users"></i><a th:href="@{/admins/users/all}">All Users</a></li>
                        <li aria-haspopup="true" th:if="${isEnabledUser}">
                            <i class="fe fe-upload"></i> <a th:href="@{/auth/addons/new}"> Upload Addon</a></li>
                        <li aria-haspopup="true" th:if="${isEnabledUser}">
                            <i class="fe fe-upload"></i> <a th:href="@{/user/invite}"> Invite a friend</a></li>
                        <li aria-haspopup="true"><i class="fe fe-globe"></i><a th:href="@{/contact}"> Contacts</a>
                        </li>
                    </ul>
                    <ul class="mb-0">
                    </ul>
                </nav>
            </div>
        </div>
    </div><!--/Horizontal-main -->

    <!--Section-->
    <div>
        <div class="sptb-5">
            <div class="header-text1 mb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-12 col-md-12 d-block mx-auto">
                            <div class="text-center text-white text-property mb-4">
                                <h1 class=""> Search Addon </h1>
                            </div>
                            <div class="row">
                                <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
                                    <div class="search-form">
                                        <input type="text" class="form-control input-lg" id="text4"
                                               placeholder="Search Addon.....">
                                        <button class="btn ripple "><i class="fe fe-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /header-text -->
        </div>
    </div><!--/Section-->
</div><!--/Section-->

<!--Section-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="item-det mb-4">
                            <a class="text-dark"><h2 class="fs-22" th:text="${addon.getName()}">Test Addon Name</h2></a>
                            <div class="d-flex mt-2">
                                <ul class="d-flex">
                                    <li class="mr-5"><a class="icons"
                                                        th:text="'Creator: ' + ${addon.getCreator().getUsername()}"><i
                                            class="fe fe-briefcase text-muted mr-1"></i> Wordpress</a></li>
                                    <li class="mr-5"><a class="icons"
                                                        th:text="'Uploded on: '+ ${#temporals.format(addon.getUploadDate(), 'dd MMMM yyyy')}"
                                    ><i
                                            class="fe fe-calendar text-muted mr-1"></i> 5 hours ago</a></li>
                                    <li class="mr-5">
                                        <a class="icons"
                                           th:text="'Total downloads: ' + ${addon.getDownloadCount()}">
                                            <i class="fe fe-eye text-muted mr-1"></i>765</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="marketplace-single-imag mx-auto text-center">
                            <a href="javascript:void(0)" class="d-block link-overlay">
                                <!-- th:src="${image}" -->
                                <img th:src="${addon.getImageString()}"
                                     class="d-block img-fluid  mx-auto text-center w-50"
                                     alt="NoImage">
                                <span class="link-overlay-bg rounded">addons
											<i class="fe fe-search fs-25"></i>
										</span>
                            </a>
                            <div class="p-4 border btn-list"
                                 th:if="${isAdmin or #strings.equals(addon.getCreator().getUsername(),
                                 session.currentUser)}">
                                <a th:href="@{/auth/addons/{id}/update(id=${addon.getId()})}"

                                   class="btn ripple  btn-primary btn-lg-0"><i
                                        class="fe fe-airplay">
                                </i> Modify Addon </a>

                                <a th:href="@{/auth/addons/{id}/delete(id=${addon.getId()})}"
                                   th:method="delete"
                                   th:if="${isAdmin}"
                                   class="btn ripple  btn-primary btn-lg-0" style="background-color: red"><i
                                        class="fe fe-airplay">
                                </i> Delete Addon </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="border-0 mb-5">
                    <div class="wideget-user-tab wideget-user-tab3">
                        <div class="tab-menu-heading">
                            <div class="tabs-menu1">
                                <ul class="nav">
                                    <li class=""><a href="#tab-1" class="active" data-toggle="tab">Details</a></li>
                                    <li th:if="${isEnabledUser}"><a href="#tab-3" data-toggle="tab" class="">Rate
                                        Addon</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content details-tab-content">
                        <div class="tab-pane active" id="tab-1">
                            <div class="border-left border-right p-5 bg-white">
                                <h3 class="card-title mb-3 ">Description</h3>
                                <div class="mb-0" th:text="${addon.description}">
                                    <p></p>
                                </div>
                                <h4 class="card-title mb-3 ">Tags</h4>
                                <div class="row">
                                    <div class="col-xl-6 col-md-6">
                                        <ul class="list-unstyled widget-spec mb-0"
                                            th:each="tag : ${addon.getTags}">
                                            <li class="">
                                                <i class="typcn typcn-chevron-right-outline text-muted"
                                                   th:text="${tag.getName()}"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row mt-6 mb-1">
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card text-center bg-light shadow-none mb-3">
                                            <div class="card-body pt-3 pb-3">
                                                <p class="">100% Fully Responsive</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card text-center bg-light shadow-none mb-3">
                                            <div class="card-body pt-3 pb-3">
                                                <p class="">Free Download</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card text-center bg-light shadow-none mb-3">
                                            <div class="card-body pt-3 pb-3">
                                                <p class="">W3C Validated</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card text-center bg-light mb-3 mb-lg-0 shadow-none">
                                            <div class="card-body pt-3 pb-3">
                                                <p class="">Regular Updates</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card text-center bg-light mb-3 mb-lg-0 shadow-none">
                                            <div class="card-body pt-3 pb-3">
                                                <p class=""> Easy to Customize</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6">
                                        <div class="card text-center bg-light mb-0 shadow-none">
                                            <div class="card-body pt-3 pb-3">
                                                <p class="">24/7 Support</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="border-left border-right p-5 bg-white border-bottom br-bl-3 br-br-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card shadow-none">
                                            <div class="card-header bg-light shadow-none">
                                                <div class="rating-stars d-flex">
                                                    <input type="number" readonly="readonly" class="rating-value star"
                                                           name="rating-stars-value" value="4">
                                                    <div class="rating-stars-container mr-2">
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-options">
                                                    <span class="">by <a href="#"
                                                                         class="text-primary">Socrates</a> <span
                                                            class="text-muted">2 days ago</span></span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h4 class=" dark-grey-text mb-2">Design Qulity</h4>
                                                <p class="font-weight-normal dark-grey-text mb-0">
                                                    Excellent design that breaksaway from the cliche bootstrap sites
                                                    that are a dime-a-dozen these days.</p>
                                            </div>
                                        </div>
                                        <div class="card shadow-none">
                                            <div class="card-header bg-light shadow-none">
                                                <div class="rating-stars d-flex">
                                                    <input type="number" readonly="readonly" class="rating-value star"
                                                           name="rating-stars-value" value="4">
                                                    <div class="rating-stars-container mr-2">
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-options">
                                                    <span class="ml-auto">by <a href="#"
                                                                                class="text-primary">Joyce Chua</a> <span
                                                            class="text-muted">2 months ago</span></span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h4 class=" dark-grey-text mb-2">Design Qulity</h4>
                                                <p class="font-weight-normal dark-grey-text mb-0">
                                                    Awesome code quality</p>
                                            </div>
                                        </div>
                                        <div class="card shadow-none">
                                            <div class="card-header bg-light shadow-none">
                                                <div class="rating-stars d-flex">
                                                    <input type="number" readonly="readonly" class="rating-value star"
                                                           name="rating-stars-value" value="3">
                                                    <div class="rating-stars-container mr-2">
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-options">
                                                    <span class="">by <a href="#" class="text-primary">Sonia Fraser</a> <span
                                                            class="text-muted">3 months ago</span></span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h4 class=" dark-grey-text mb-2">Design Qulity</h4>
                                                <p class="font-weight-normal dark-grey-text mb-0">
                                                    Good design & clean commented code. Before purchase technical team
                                                    very fast response direct email support.</p>
                                            </div>
                                            <div class="card-body bg-light">
                                                <div class="media mt-0 mb-0">
                                                    <div class="d-flex mr-3">
                                                        <a href="#"><img class="media-object brround" alt="64x64"
                                                                         src="../assets/images/users/male/1.jpg"> </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mt-0 mb-1 ">Joanne Scott</h4>
                                                        <p class="fs-15  mb-0 mt-2">
                                                            Hey Thank You So Much
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card shadow-none">
                                            <div class="card-header bg-light shadow-none">
                                                <div class="rating-stars d-flex">
                                                    <input type="number" readonly="readonly" class="rating-value star"
                                                           name="rating-stars-value" value="2">
                                                    <div class="rating-stars-container mr-2">
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-options">
                                                    <span class="">by <a href="#"
                                                                         class="text-primary">Owen Bongcaras</a> <span
                                                            class="text-muted">2 months ago</span></span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h4 class=" dark-grey-text mb-2">Design Qulity</h4>
                                                <p class="font-weight-normal dark-grey-text mb-0">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                        <div class="card shadow-none">
                                            <div class="card-header bg-light shadow-none">
                                                <div class="rating-stars d-flex">
                                                    <input type="number" readonly="readonly" class="rating-value star"
                                                           name="rating-stars-value" value="3">
                                                    <div class="rating-stars-container mr-2">
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-star lg">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-options">
                                                    <span class="">by <a href="#"
                                                                         class="text-primary">Justin Gray</a> <span
                                                            class="text-muted">2 years ago</span></span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h4 class=" dark-grey-text mb-2">Design Qulity</h4>
                                                <p class="font-weight-normal dark-grey-text mb-0">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                        <ul class="pagination">
                                            <li class="page-item page-prev disabled">
                                                <a class="page-link" href="#" tabindex="-1">Prev</a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item page-next">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-5">
                                <div class="card-header">
                                    <h3 class="card-title">Item Rating</h3>
                                </div>
                                <div class="card-body">
                                    <div class="rating-stars d-flex mb-3">
                                        <label class="form-label mr-3 mt-1">Select Rating:</label>
                                        <input type="number" readonly="readonly" class="rating-value star"
                                               name="rating-stars-value" value="3">
                                        <div class="rating-stars-container mr-2">
                                            <div class="rating-star lg">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star lg">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star lg">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star lg">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star lg">
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group reviewselect">
                                        <select class="form-control select2 custom-select">
                                            <option value="0">SelectOptions</option>
                                            <option value="1">Customer Support</option>
                                            <option value="2">Design Qulity</option>
                                            <option value="3">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="example-textarea-input" rows="6"
                                                  placeholder="Comment"></textarea>
                                    </div>
                                    <a href="#" class="btn ripple  btn-primary">Save</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="border-left border-right p-5 bg-white border-bottom br-bl-3 br-br-3">
                                <div class="card shadow-none">
                                    <div class="card-body">
                                        <div>
                                            <div class="media mt-0">
                                                <div class="media-body">
                                                    <div class="d-md-flex align-items-center">
                                                    </div>
                                                </div>
                                            </div>
                                            <form th:action="@{/auth/addons/rate/{id}(id=${addon.getId()})}">
                                                <select name="rate" th:name="rate" style="padding: 1.5%">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                                <input class="btn btn-danger" type="submit" value="Rate"
                                                       style="margin-left: 1%">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="border-left border-right p-5 bg-white">
                                <h3 class="card-title mb-4 ">Conatct the Author</h3>
                                <div class="form-group">
                                    <label class="form-label">Support Subject</label>
                                    <input type="text" class="form-control" placeholder="Enter Your Name">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Support Query</label>
                                    <textarea class="form-control" name="example-textarea-input" rows="6"
                                              placeholder="Comment"></textarea>
                                </div>
                                <a href="#" class="btn ripple  btn-primary">Submit</a>
                            </div>
                            <div class="card-footer bg-white br-bl-3 br-br-3 border-right border-left border-bottom">
                                <div class="btn-list">
                                    <a href="#" class="btn ripple  btn-secondary icons"><i
                                            class="fe fe-share-2 mr-1"></i> Share</a>
                                    <a href="#" class="btn ripple  btn-danger icons" data-toggle="modal"
                                       data-target="#report"><i class="icon icon-exclamation mr-1"></i> Report Abuse</a>
                                    <a href="#" class="btn ripple  btn-info icons"><i class="icon icon-heart  mr-1"></i>
                                        678</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--/Related Posts-->
            </div>
            <!--Right Side Content-->
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="card  mt-5 mt-lg-0">
                    <div class="licence-niceselect pt-4 pl-4 pr-4 pb-0">
                        <div class="licence-niceselect">
                            <a th:text="*{addon.getName()}"></a>

                        </div>
                    </div>
                    <div class="pt-4 pb-4 pl-5 pr-5 border-bottom">
                        <div class="licence-content active" id="regular">
                            <span class="mb-0 ml-auto licence-price" th:text="FREE">$32</span>
                            <ul class="list-unstyled widget-spec  mb-0">
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> 6 Months Support & Updates
                                </li>
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> Something else
                                </li>
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> Best Quality Product
                                </li>
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> One domain
                                </li>
                            </ul>
                        </div>
                        <div class="licence-content" id="extend">
                            <span class="mb-0 ml-auto licence-price">$632</span>
                            <ul class="list-unstyled widget-spec  mb-0">
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> 1 year Support & Updates
                                </li>
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> Forum Support
                                </li>
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> Best Qulity Product
                                </li>
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> Unlimited domain
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body item-user">

                        <a class="btn ripple  btn-info btn-block btn-lg"
                           th:href="@{/downloadAddon/{id}(id=${addon.getId()})}">Download</a>
                    </div>

                </div>
                <div class="card bg-primary text-white border-0 overflow-hidden">
                    <div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i
                            class="fa fa-bolt"></i></span></div>

                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="mb-1  mr-3 mt-2">Total Downloads:</p>
                            <p class="mb-0 fs-25 font-weight-semibold">
                                <i th:text="*{addon.getDownloadCount()}"></i></p>

                        </div>
                    </div>
                </div>
                <div class="card">

                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="item-rating-info d-flex mb-4">
                            <h5 class="mr-3 ">Addon Rating:</h5>
                            <span class="ms-4">
                            <th:block th:each="i: ${#numbers.sequence(1.0, 5.0)}">
                            <i th:if="${i le addon.calculatedScore}" class="mdi mdi-star me-n1 text-warning"></i>
                            </th:block>
                            <th:block th:each="i: ${#numbers.sequence(1.0, 5.0)}">
                            <i th:if="${i gt addon.calculatedScore}" class="mdi mdi-star me-n1 text-light"></i>
                            </th:block>
                                <span th:text="${#numbers.formatDecimal(addon.calculatedScore,1,1)}"></span>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-body item-user">
                        <div class="text-center">
                            <a href="userprofile.html" class="mb-4">
                                <img th:src="${addon.getCreator().getImage()}"
                                     src="../assets/images/users/female/3.jpg"
                                     alt="image"
                                     class="avatar avatar-xxl brround"></a>
                            <a href="userprofile.html">
                                <h3 class="mt-2 mb-1 text-dark"
                                    th:text="${addon.getCreator().getUsername()}">Vania Laurin</h3></a>
                        </div>
                        <div class=" item-user-icons mt-2 mb-5 text-center">

                        </div>
                        <div class="">
                            <a th:href="@{/user/{id}(id=${addon.getCreator().getId()})}"
                               class="btn ripple btn-light btn-block btn-lg"> View Profile</a>

                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="card-title">GitHub Information</h3>
                    </div>
                    <div class="card-body">
                        <div class="marketplace-content">
                            <ul class="list-unstyled widget-spec mb-0">
                                <li class="">
                                    <i class="fe fe-git-pull-request"></i>
                                    <span class="w-80 font-weight-semibold text-dark"
                                          th:text="'Pulls count:     ' +
                                          ${addon.getGithubData().getPullRequestsCount()}">
                                        Last Update</span>
                                </li>
                                <li class="pt-2">
                                    <i class="fe fe-github"></i>
                                    <span class="w-80 font-weight-semibold text-dark"
                                          th:text="'Open issue count:    ' +
                                          ${addon.getGithubData().getOpenIssuesCount()}">Release Date</span>
                                </li>
                                <li class="pt-2">
                                    <i class="fe fe-clock"></i>
                                    <span class="w-80 font-weight-semibold text-dark"
                                          th:text="'Last commit date:   ' +
                                          ${#dates.format(addon.getGithubData().getLastCommitDate(), 'dd MMMM yyyy')}">Category</span>
                                </li>
                                <li class="pt-2">
                                    <i class="fe fe-git-commit"></i>
                                    <span class="w-80 font-weight-semibold text-dark"
                                          th:text="'Last commit title:   ' +
                                          ${addon.getGithubData().getLastCommitTittle()}">High Resolution</span>
                                </li>
                                <li class="pt-2">
                                    <i class="fe fe-github"></i>
                                    <a style="color: #0166ff" th:href="@{${addon.getOriginLink()}}" target="_blank">Open source code</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Rightside Content-->
        </div>
    </div>
</section><!--/Section-->

<!--Footer Section-->
<section>
    <footer class="bg-dark text-white">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <h6>About</h6>
                        <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>Addonis - The better add-ons registry</p>
                        <ul class="list-unstyled list-inline mt-3">
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <h6>Our Services</h6>
                        <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="list-unstyled mb-0">
                            <li><a href="javascript:;">Our Team</a></li>
                            <li><a href="javascript:;">Contact US</a></li>
                            <li><a href="javascript:;">About</a></li>
                            <li><a href="javascript:;">Services</a></li>
                            <li><a href="javascript:;">Blog</a></li>
                            <li><a href="javascript:;">Terms and Services</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <h6>Contact</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="footer-conatct list-unstyled mb-0 contact-footer">
                            <li>
                                <a><i class="fa fa-home mr-3 text-white"></i>Hristian Ivanov</a>
                            </li>
                            <li>
                                <a><i class="fa fa-envelope mr-3 text-white"></i> hristian.ivanov100@gmail.com</a>
                            </li>
                            <li>
                                <a><i class="fa fa-phone mr-3 text-white"></i> +359 896 710 557</a>
                            </li>
                            <li>
                                <a><i class="fa fa-home mr-3 text-white"></i>Ivan Ivanov</a>
                            </li>
                            <li>
                                <a><i class="fa fa-envelope mr-3 text-white"></i>ivanov.biol@abv.bg</a>
                            </li>
                            <li>
                                <a><i class="fa fa-phone mr-3 text-white"></i> +359 883 315 999</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="bg-dark text-white-50 p-0">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center">
                        Copyright © 2021 <a href="#" class="fs-14 text-primary">Graduate Team Project</a>. Designed by
                        <a href="#"
                           class="fs-14 text-primary">
                            Hristian and Ivan Team </a>All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--Footer Section-->

<!-- Message Modal -->
<div class="modal" id="contact" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="examplecontactLongTitle">Send Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="contact-name" placeholder="Your Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="contact-email" placeholder="Email address">
                </div>
                <div class="form-group mb-0">
                    <textarea class="form-control" name="example-textarea-input" rows="6"
                              placeholder="Message"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ripple  btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn ripple  btn-success">Send</button>
            </div>
        </div>
    </div>
</div><!-- /Message Modal -->

<!--Comment Modal -->
<div class="modal" id="Comment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleCommentLongTitle">Leave a Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="Comment-name" placeholder="Your Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="Comment-email" placeholder="Email address">
                </div>
                <div class="form-group mb-0">
                    <textarea class="form-control" name="example-textarea-input" rows="6"
                              placeholder="Message"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ripple  btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn ripple  btn-success">Send</button>
            </div>
        </div>
    </div>
</div><!--/Comment Modal -->

<!-- Report Modal -->
<div class="modal" id="report" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="examplereportLongTitle">Report Abuse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="report-name" placeholder="Enter url">
                </div>
                <div class="form-group">
                    <select name="country" id="select-countries2" class="form-control custom-select">
                        <option value="1" selected>Categories</option>
                        <option value="2">IT Itemsm</option>
                        <option value="3">Identity Theft</option>
                        <option value="4">Online Shopping Fraud</option>
                        <option value="5">Service Providers</option>
                        <option value="6">Phishing</option>
                        <option value="7">Spyware</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="report-email" placeholder="Email address">
                </div>
                <div class="form-group mb-0">
                    <textarea class="form-control" name="example-textarea-input" rows="6"
                              placeholder="Message"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ripple  btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn ripple  btn-success">Submit</button>
            </div>
        </div>
    </div>
</div><!-- /Report Modal -->

<!-- Back to top -->
<a href="#top" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

<!-- JQuery js-->
<script src="../../static/assets/js/jquery-3.2.1.min.js"
        th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>

<!-- Bootstrap js -->
<script src="../../static/assets/plugins/bootstrap-4.3.1/js/popper.min.js"
        th:src="@{/assets/plugins/bootstrap-4.3.1/js/popper.min.js}"></script>
<script src="../../static/assets/plugins/bootstrap-4.3.1/js/bootstrap.min.js"
        th:src="@{/assets/plugins/bootstrap-4.3.1/js/bootstrap.min.js}"></script>

<!--JQuery IT Itemsrkline js-->
<script src="../../static/assets/js/jquery.sparkline.min.js"
        th:src="@{/assets/js/jquery.sparkline.min.js}"></script>

<!-- Circle Progress js-->
<script src="../../static/assets/js/circle-progress.min.js"
        th:src="@{/assets/js/circle-progress.min.js}"></script>

<!-- Star Rating js-->
<script src="../../static/assets/plugins/rating/jquery.rating-stars.js"
        th:src="@{/assets/plugins/rating/jquery.rating-stars.js}"></script>

<!--Owl Carousel js -->
<script src="../../static/assets/plugins/owl-carousel/owl.carousel.js"
        th:src="@{/assets/plugins/owl-carousel/owl.carousel.js}"></script>

<!--Horizontal Menu js-->
<script src="../../static/assets/plugins/horizontal-menu/horizontal-menu.js"
        th:src="@{/assets/plugins/horizontal-menu/horizontal-menu.js}"></script>

<!--JQuery TouchSwipe js-->
<script src="../../static/assets/js/jquery.touchSwipe.min.js"
        th:src="@{/assets/js/jquery.touchSwipe.min.js}"></script>

<!--Select2 js -->
<script src="../../static/assets/plugins/select2/select2.full.min.js"
        th:src="@{/assets/plugins/select2/select2.full.min.js}"></script>
<script src="../../static/assets/js/select2.js"
        th:src="@{/assets/js/select2.js}"></script>

<!-- Count Down js-->
<script src="../../static/assets/plugins/count-down/jquery.lwtCountdown-1.0.js"
        th:src="@{/assets/plugins/count-down/jquery.lwtCountdown-1.0.js}"></script>

<!-- Custom scroll bar js-->
<script src="../../static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js"
        th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js}"></script>

<!-- sticky js-->
<script src="../../static/assets/js/sticky.js"
        th:src="@{/assets/js/sticky.js}"></script>

<!-- Image-tooltip js -->
<script src="../../static/assets/plugins/image-tooltip/image-tooltip.js"
        th:src="@{/assets/plugins/image-tooltip/image-tooltip.js}"></script>

<!-- Nice-Select Js-->
<script src="../../static/assets/plugins/jquery-nice-select/js/jquery.nice-select.js"
        th:src="@{/assets/plugins/jquery-nice-select/js/jquery.nice-select.js}"></script>
<script src="../../static/assets/plugins/jquery-nice-select/js/nice-select.js"
        th:src="@{/assets/plugins/jquery-nice-select/js/nice-select.js}"></script>

<!-- Vertical scroll bar js-->
<script src="../../static/assets/plugins/vertical-scroll/jquery.bootstrap.newsbox.js"
        th:src="@{/assets/plugins/vertical-scroll/jquery.bootstrap.newsbox.js}"></script>
<script src="../../static/assets/plugins/vertical-scroll/vertical-scroll.js"
        th:src="@{/assets/plugins/vertical-scroll/vertical-scroll.js}"></script>

<!-- Swipe js-->
<script src="../../static/assets/js/swipe.js"
        th:src="@{/assets/js/swipe.js}"></script>

<!-- Cover-image js-->
<script src="../../static/assets/js/owl-carousel.js"
        th:src="@{/assets/js/owl-carousel.js}"></script>

<!-- Custom Js-->
<script src="../../static/assets/js/custom.js"
        th:src="@{/assets/js/custom.js}"></script>

</body>
</html>