<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta data -->
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="icon" href="../assets/images/brand/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/brand/favicon.ico"/>

    <!-- Title -->
    <title>Addonis</title>

    <!-- Bootstrap css -->
    <link href="../../static/assets/plugins/bootstrap-4.3.1/css/bootstrap.min.css"
          th:href="@{/assets/plugins/bootstrap-4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Style css -->
    <link href="../../static/assets/css/style.css"
          th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link href="../../static/assets/css/skin-modes.css"
          th:href="@{/assets/css/skin-modes.css}" rel="stylesheet"/>

    <!-- Font-awesome  css -->
    <link href="../../static/assets/css/icons.css"
          th:href="@{/assets/css/icons.css}" rel="stylesheet"/>

    <!-- Owl Theme css-->
    <link href="../../static/assets/plugins/owl-carousel/owl.carousel.css"
          th:href="@{/assets/plugins/owl-carousel/owl.carousel.css}" rel="stylesheet"/>

    <!--Select2 css -->
    <link href="../../static/assets/plugins/select2/select2.min.css"
          th:href="@{/assets/plugins/select2/select2.min.css}" rel="stylesheet"/>

    <!-- Jquery ui RangeSlider css -->
    <link href="../../static/assets/plugins/jquery-uislider/jquery-ui.css"
          th:href="@{/assets/plugins/jquery-uislider/jquery-ui.css}" rel="stylesheet">

    <!-- Custom scroll bar css-->
    <link href="../../static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css"
          th:href="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css}" rel="stylesheet"/>

    <!--Image-tooltip css-->
    <link href="../../static/assets/plugins/image-tooltip/image-tooltip.css"
          th:href="@{/assets/plugins/image-tooltip/image-tooltip.css}" rel="stylesheet"/>

    <!-- Color Skin css -->
    <link id="theme" rel="stylesheet" type="text/css" media="all"
          href="../../static/assets/color-skins/color7.css"
          th:href="@{/assets/color-skins/color7.css}"/>

</head>

<body class="headerstyle3">

<!--Loader-->
<div id="global-loader">
</div><!--/Loader-->

<!--Section-->
<div class="cover-image bg-background" data-image-src="../../assets/images/banners/banner4.jpg">
    <!--Topbar-->
    <div class="header-main">
        <div class="top-bar">
        </div><!--/Topbar-->

        <!--Header-->
        <header class="header-search header-logosec p-2 header-icons">
            <div class="container">
                <div class="d-flex">
                    <div class="header-search-logo d-none d-lg-block">
<!--                        <a class="header-logo header-brand-img" href="index.html"></a>-->
                    </div>
                    <div class="d-flex ml-auto header-right-icons header-search-icon">
                        <div class="dropdown d-md-flex notifications">

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow cart-dropdown">
                                <div class="drop-cart header-dropdown-list">
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/01.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block"></span>
                                                    <div class="fs-13 text-muted">Pending</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$24</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/02.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">Wordpress Template</span>
                                                    <div class="fs-13 text-muted">Wordpress</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$18</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/03.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">Angular Template</span>
                                                    <div class="fs-13 text-muted">Angular</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$22</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/04.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">PHP Template</span>
                                                    <div class="fs-13 text-muted">PHP</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$12</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/05.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">PSD Template</span>
                                                    <div class="fs-13 text-muted">PSD</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$5</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-footer">
                                    <div class="btn-list">
                                        <a href="cart.html" class="btn btn-primary  ripple mb-lg-0">View Cart</a>
                                        <a href="checkout.html" class=" btn btn-secondary  ripple mb-lg-0">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- NOTIFICATIONS -->
                        <div class="dropdown d-md-flex notifications">

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <div class="notifications-menu header-dropdown-list">
                                    <a href="#" class="dropdown-item d-flex">
                                        <div class="text-primary fs-18 mr-3 ">
                                            <i class="fe fe-mail text-primary"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">Commented on your post.</h6>
                                            <div class="small text-muted">3 hours ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-secondary fs-18 mr-3 ">
                                            <i class="fe fe-user text-secondary"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">New User Registered.</h6>
                                            <div class="small text-muted">1 day ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-success fs-18 mr-3 ">
                                            <i class="fe fe-thumbs-up text-success"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">Someone likes our posts</h6>
                                            <div class="small text-muted">5 mins ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-purple fs-18 mr-3 ">
                                            <i class="fe fe-upload text-purple"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">New file has been uploaded</h6>
                                            <div class="small text-muted">50 sec ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-danger fs-18 mr-3 ">
                                            <i class="fe fe-alert-circle text-danger"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">System alert</h6>
                                            <div class="small text-muted">2 days ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-warning fs-18 mr-3 ">
                                            <i class="fe fe-server text-warning"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">Server Rebooted</h6>
                                            <div class="small text-muted">45 mins ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex border-top">
                                        <div class="text-secondary fs-18 mr-3 ">
                                            <i class="fe fe-layers text-secondary"></i>
                                        </div>
                                        <div>
                                            <h6 class="mb-1">Completed One task</h6>
                                            <div class="small text-muted">3 mins ago</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-footer p-3">
                                    <a href="#" class="fs-14 text-dark text-center">View all Notification</a>
                                </div>
                            </div>
                        </div><!-- NOTIFICATIONS -->
                        <div class="dropdown d-md-flex message">

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <div class="message-menu header-dropdown-list">
                                    <a class="dropdown-item border-bottom" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image"
                                                      data-image-src="../assets/images/users/male/1.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Jack Wright</span> all the best
                                                    your template awesome
                                                    <div class="small text-muted">
                                                        3 hours ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround  align-self-center cover-image"
                                                      data-image-src="../assets/images/users/female/1.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Lisa Rutherford</span> Hey! there
                                                    I'm available
                                                    <div class="small text-muted">
                                                        5 hour ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround  align-self-center cover-image"
                                                      data-image-src="../assets/images/users/male/2.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Blake Walker</span> just created
                                                    a new blog post
                                                    <div class="small text-muted">
                                                        45 mintues ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image"
                                                      data-image-src="../assets/images/users/female/2.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Fiona Morrison</span> added new
                                                    comment on your photo
                                                    <div class="small text-muted">
                                                        2 days ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround  align-self-center cover-image"
                                                      data-image-src="../assets/images/users/male/4.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Stewart Bond</span> your payment
                                                    invoice is generated
                                                    <div class="small text-muted">
                                                        3 days ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround  align-self-center cover-image"
                                                      data-image-src="../assets/images/users/female/5.jpg"></span>
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="font-weight-semibold">Faith Dickens</span> please check
                                                    your mail....
                                                    <div class="small text-muted">
                                                        4 days ago
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item text-center">See all Messages</a>
                            </div>
                        </div><!-- MESSAGE-BOX -->
                        <div class="dropdown d-md-flex profile-1">
                            <a th:if="${isAuthenticated}" class="nav-link icon text-center" data-toggle="dropdown">
                                <i class="fe fe-user"></i>
                                <span class="pulse bg-success"></span>
                            </a>
                            <div class="top-bar-right">
                                <ul class="custom">
                                    <li th:unless="${isAuthenticated}">
                                        <a href="register.html"
                                           th:href="@{/auth/register}"
                                           class="text-dark"><i class="fa fa-user mr-1"></i>
                                            <span>Register</span></a>
                                    </li>
                                    <li th:unless="${isAuthenticated}">
                                        <a href="login.html"
                                           th:href="@{/auth/login}"
                                           class="text-dark"><i class="fa fa-sign-in mr-1"></i>
                                            <span>Login</span></a>
                                    </li>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <div class="drop-heading">
                                            <div class="text-center">
                                                <h5 class="text-dark mb-1"><h2 th:if="${isAuthenticated}"
                                                                               th:text="${session.currentUser}"></h2>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="dropdown-divider m-0"></div>
                                        <a class="dropdown-item" href="users/edit-profile.html"
                                           th:href="@{/user/updateDetails}">
                                            <i class="dropdown-icon ti-write"></i>Edit Profile
                                        </a>
                                        <div class="dropdown-divider mt-0"></div>
                                        <a class="dropdown-item" th:href="@{/auth/logout}">
                                            <i class="dropdown-icon ti-unlock"></i> Logout
                                        </a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header><!--/Header-->

        <!-- Mobile Header -->
        <div class="horizontal-header clearfix ">
            <div class="container">
                <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
                <span class="smllogo"><img src="../assets/images/brand/logo1.png" width="120" alt="img"/></span>
                <span class="smllogo-white"><img src="../assets/images/brand/logo.png" width="120" alt="img"/></span>
                <a href="tel:245-6325-3256" class="callusbtn"><i class="fa fa-phone" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- /Mobile Header -->

        <!--Horizontal-main -->
        <div class="header-style horizontal-main bg-dark-transparent clearfix">
            <div class="horizontal-mainwrapper container clearfix">
                <nav class="horizontalMenu clearfix d-md-flex">
                    <ul class="horizontalMenu-list">
                        <li aria-haspopup="true"><i class="fe fe-home"></i><a th:href="@{/}">Home </a></li>
                        <li aria-haspopup="true" th:if="${isAdmin}">
                            <i class="fe fe-codepen"></i><a th:href="@{/auth/addons/approve}">Approve New Addons</a>
                        </li>
                        <li aria-haspopup="true">
                            <i class="fe fe-codepen"></i><a th:href="@{/addons/all}">All Addons</a>
                        </li>
                        <li aria-haspopup="true" th:if="${isAdmin}">
                            <i class="fe fe-users"></i><a th:href="@{/admins/users/all}">All Users</a></li>
                        <li aria-haspopup="true" th:if="${isEnabledUser}">
                            <i class="fe fe-upload"></i> <a th:href="@{/auth/addons/new}"> Upload Addon</a></li>
                        <li aria-haspopup="true" th:if="${isEnabledUser}">
                            <i class="fa fa-envelope"></i> <a th:href="@{/user/invite}"> Invite a friend</a></li>
                        <li aria-haspopup="true"><i class="fe fe-globe"></i><a th:href="@{/contact}"> Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div><!--/Horizontal-main -->

    <!--Section-->
    <div>
        <div class="sptb-5">
            <div class="header-text1 mb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-12 col-md-12 d-block mx-auto">
                            <div class="text-center text-white text-property">
                                <h1 class="">Addonis</h1>
                            </div>

                            <!--Search Form-->
                            <form th:action="@{/addons/all/pending}">
                                <div class="row">
                                    <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
                                        <div class="search-form">
                                            <input th:name="searchedValue" type="search" class="form-control input-lg"
                                                   id="text4"
                                                   placeholder="Search addon by name...">
                                            <button class="btn ripple "><i class="fe fe-search"></i></button>

                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!--Search Original-->
<!--                            <div class="row">-->
<!--                                <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">-->
<!--                                    <div class="search-form">-->
<!--                                        <input type="text" class="form-control input-lg" id="text4"-->
<!--                                               placeholder="Search addon.....">-->
<!--                                        <button class="btn ripple "><i class="fe fe-search"></i></button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div><!-- /header-text -->
        </div>
    </div><!--/Section-->
</div><!--/Section-->

<!--Section-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-12">

                <!--Itemsd lists-->
                <div class="mb-lg-0">
                    <div class="">
                        <div class="item2-gl">

                            <div class="tab-content Marketplace" th:each="addon : ${addons}">
                                <div class="tab-pane active" id="tab-11">

                                    <!-- One Addon List outlook-->
                                    <div class="card overflow-hidden">
                                        <div class="item-card-btn-hover">
                                            <div class="power-ribbon power-ribbon-top-left text-warning">
                                                <span class="bg-warning"><i class="fa fa-bolt"></i></span>
                                            </div>
                                            <div class="d-md-flex">
                                                <div class="item-card9-img">
                                                    <div class="item-card2-imgs">
                                                        <a href="page-details.html"></a>
                                                        <div id="carousel-controls"
                                                             class="carousel slide property-slide" data-ride="carousel"
                                                             data-interval="false">
                                                            <div class="carousel-inner">
                                                                <div class="carousel-item active">
                                                                    <img th:src="${addon.getImageString()}"
                                                                         src="../assets/images/media/pictures/thumb-list/thumb-1.jpg"
                                                                         alt="img" class="cover-image d-block w-100"
                                                                         data-holder-rendered="true">
                                                                </div>
                                                                <div class="carousel-item">
                                                                    <img th:src="${addon.getImageString()}"
                                                                         src="../assets/images/media/pictures/thumb-list/thumb-7.jpg"
                                                                         alt="img" class="cover-image d-block w-100"
                                                                         data-holder-rendered="true">
                                                                </div>
                                                                <div class="carousel-item">
                                                                    <img th:src="${addon.getImageString()}"
                                                                         src="../assets/images/media/pictures/thumb-list/thumb-8.jpg"
                                                                         alt="img" class="cover-image d-block w-100"
                                                                         data-holder-rendered="true">
                                                                </div>
                                                            </div>
                                                            <a class="carousel-control-prev" href="#carousel-controls"
                                                               role="button" data-slide="prev">
                                                                <span class="fe fe-chevron-left"
                                                                      aria-hidden="true"></span>
                                                            </a>
                                                            <a class="carousel-control-next" href="#carousel-controls"
                                                               role="button" data-slide="next">
                                                                <span class="fe fe-chevron-right"
                                                                      aria-hidden="true"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="item-card9-icons">

                                                    </div>
                                                    <div class="item-card7-overlaytext">
                                                        <a href="#" class="text-white">PENDING</a>
                                                    </div>
                                                    <div class="item-trans-rating">
                                                        <div class="rating-stars block">
                                                            <!--                                                            <input type="number" readonly="readonly"-->
                                                            <!--                                                                   class="rating-value star" name="rating-stars-value"-->
                                                            <!--                                                                   value="4">-->
                                                            <div class="rating-stars-container mr-2">
                                                                <div class="rating-star sm">
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                                <div class="rating-star sm">
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                                <div class="rating-star sm">
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                                <div class="rating-star sm">
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                                <div class="rating-star sm">
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card border-0 mb-0 w-70">
                                                    <div class="card-body">
                                                        <div class="item-card9">

                                                            <a class="text-dark">
                                                                <h3 class=" mb-1 text-over"
                                                                    th:text="${addon.getName()}">Andora – Admin WebApp
                                                                    HTML Dashboard Template</h3></a>
                                                            <div class="fs-13 mb-3">
                                                                by <a th:text="${addon.getCreator().getUsername()}">
                                                                Piers</a>
                                                            </div>
                                                            <p class="fs-13 mb-0 text-muted"
                                                               th:text="${addon.getDescription()}">Lorem Ipsum
                                                                available, quis
                                                                int lorem ipsum nostrum exercitationem </p>
                                                            <div class="d-flex mt-4">
                                                                <div class="item-card9-cost mt-1">
                                                                </div>
                                                                <div class="ml-auto">
                                                                    <div class="mt-3">
                                                                        <span class="fs-13"><i
                                                                                class="fe fe-download text-muted mr-1"
                                                                                th:text="${addon.getDownloadCount()}">
                                                                        </i> </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item-card-btn">
                                                <a class="btn ripple  btn-primary mr-2"
                                                   th:href="@{/addon/{id}(id=${addon.getId()})}"><i
                                                        class="fe fe-airplay mr-1"></i>See Addon</a>
                                                <a class="btn ripple  btn-secondary"
                                                   th:href="@{/auth/addons/approve/{id}(id=${addon.getId()})}"><i
                                                        class="fe fe-shopping-cart mr-1"></i>Approve Addon</a>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- END One Addon List outlook-->

                                </div>
                            </div>
                        </div>

                        <!--Front end pagination-->
                        <div class="center-block text-center">
                            <ul class="pagination mb-5 mb-lg-0">
                                <li class="page-item page-prev disabled">
                                    <a class="page-link" href="#" tabindex="-1">Prev</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                        <!--Front end pagination-->

                    </div>
                </div>
                <!--/Itemsd lists-->
            </div>

            <!--Right Side Content-->
        </div>

    </div>

    </div>
    <!--/Right Side Content-->
    </div>
    </div>
</section><!--Section-->

<!--Footer Section-->
<section>
    <footer class="bg-dark text-white">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <h6>About</h6>
                        <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>Addonis - The better add-ons registry</p>
                        <ul class="list-unstyled list-inline mt-3">
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <h6>Our Services</h6>
                        <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="list-unstyled mb-0">
                            <li><a href="javascript:;">Our Team</a></li>
                            <li><a href="javascript:;">Contact US</a></li>
                            <li><a href="javascript:;">About</a></li>
                            <li><a href="javascript:;">Services</a></li>
                            <li><a href="javascript:;">Blog</a></li>
                            <li><a href="javascript:;">Terms and Services</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <h6>Contact</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="footer-conatct list-unstyled mb-0 contact-footer">
                            <li>
                                <a><i class="fa fa-home mr-3 text-white"></i>Hristian Ivanov</a>
                            </li>
                            <li>
                                <a><i class="fa fa-envelope mr-3 text-white"></i> hristian.ivanov100@gmail.com</a>
                            </li>
                            <li>
                                <a><i class="fa fa-phone mr-3 text-white"></i> +359 896 710 557</a>
                            </li>
                            <li>
                                <a><i class="fa fa-home mr-3 text-white"></i>Ivan Ivanov</a>
                            </li>
                            <li>
                                <a><i class="fa fa-envelope mr-3 text-white"></i>ivanov.biol@abv.bg</a>
                            </li>
                            <li>
                                <a><i class="fa fa-phone mr-3 text-white"></i> +359 883 315 999</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="bg-dark text-white-50 p-0">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center">
                        Copyright © 2021 <a href="#" class="fs-14 text-primary">Graduate Team Project</a>. Designed by
                        <a href="#"
                           class="fs-14 text-primary">
                            Hristian and Ivan Team </a>All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--Footer Section-->

<!-- Back to top -->
<a href="#top" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

<!-- JQuery js-->
<script src="../../static/assets/js/jquery-3.2.1.min.js"
        th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>

<!-- Bootstrap js -->
<script src="../../static/assets/plugins/bootstrap-4.3.1/js/popper.min.js"
        th:src="@{/assets/plugins/bootstrap-4.3.1/js/popper.min.js}"></script>
<script src="../../static/assets/plugins/bootstrap-4.3.1/js/bootstrap.min.js"
        th:src="@{/assets/plugins/bootstrap-4.3.1/js/bootstrap.min.js}"></script>

<!--JQuery IT Itemsrkline js-->
<script src="../../static/assets/js/jquery.sparkline.min.js"
        th:src="@{/assets/js/jquery.sparkline.min.js}"></script>

<!-- Circle Progress js-->
<script src="../../static/assets/js/circle-progress.min.js"
        th:src="@{/assets/js/circle-progress.min.js}"></script>

<!-- Star Rating js-->
<script src="../../static/assets/plugins/rating/jquery.rating-stars.js"
        th:src="@{/assets/plugins/rating/jquery.rating-stars.js}"></script>

<!--Owl Carousel js -->
<script src="../../static/assets/plugins/owl-carousel/owl.carousel.js"
        th:src="@{/assets/plugins/owl-carousel/owl.carousel.js}"></script>

<!--Horizontal Menu js-->
<script src="../../static/assets/plugins/horizontal-menu/horizontal-menu.js"
        th:src="@{/assets/plugins/horizontal-menu/horizontal-menu.js}"></script>

<!--JQuery TouchSwipe js-->
<script src="../../static/assets/js/jquery.touchSwipe.min.js"
        th:src="@{/assets/js/jquery.touchSwipe.min.js}"></script>

<!--Select2 js -->
<script src="../../static/assets/plugins/select2/select2.full.min.js"
        th:src="@{/assets/plugins/select2/select2.full.min.js}"></script>
<script src="../../static/assets/js/select2.js"
        th:src="@{/assets/js/select2.js}"></script>

<!-- Ion.RangeSlider js-->
<script src="../../static/assets/plugins/jquery-uislider/jquery-ui.js"
        th:src="@{/assets/plugins/jquery-uislider/jquery-ui.js}"></script>
<script src="../../static/assets/js/uislider.js"
        th:src="@{/assets/js/uislider.js}"></script>

<!-- Custom scroll bar js-->
<script src="../../static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js"
        th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js}"></script>

<!-- Image-tooltip js -->
<script src="../../static/assets/plugins/image-tooltip/image-tooltip.js"
        th:src="@{/assets/plugins/image-tooltip/image-tooltip.js}"></script>

<!-- sticky js-->
<script src="../../static/assets/js/sticky.js"
        th:src="@{/assets/js/sticky.js}"></script>

<!--Showmore js-->
<script src="../../static/assets/js/jquery.showmore.js"
        th:src="@{/assets/js/jquery.showmore.js}"></script>
<script src="../../static/assets/js/showmore.js"
        th:src="@{/assets/js/showmore.js}"></script>

<!-- Scripts js-->
<script src="../../static/assets/js/owl-carousel.js"
        th:src="@{/assets/js/owl-carousel.js}"></script>

<!-- Custom Js-->
<script src="../../static/assets/js/custom.js"
        th:src="@{/assets/js/custom.js}"></script>

</body>
</html>