<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta data -->
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="icon" href="../assets/images/brand/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/brand/favicon.ico"/>

    <!-- Title -->
    <title>Addonis</title>

    <!-- Bootstrap css -->
    <link href="../assets/plugins/bootstrap-4.3.1/css/bootstrap.min.css"
          th:href="@{/assets/plugins/bootstrap-4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Style css -->
    <link href="../assets/css/style.css"
          th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link href="../assets/css/skin-modes.css"
          th:href="@{/assets/css/skin-modes.css}" rel="stylesheet"/>

    <!-- Font-awesome  css -->
    <link href="../assets/css/icons.css" th:href="@{/assets/css/icons.css}" rel="stylesheet"/>

    <!--Select2 css -->
    <link href="../assets/plugins/select2/select2.min.css"
          th:href="@{/assets/plugins/select2/select2.min.css}" rel="stylesheet"/>

    <!-- Owl Theme css-->
    <link href="../assets/plugins/owl-carousel/owl.carousel.css"
          th:href="@{/assets/plugins/owl-carousel/owl.carousel.css}" rel="stylesheet"/>

    <!-- Custom scroll bar css-->
    <link href="../assets/plugins/scroll-bar/jquery.mCustomScrollbar.css"
          th:href="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css}" rel="stylesheet"/>

    <!--Image-tooltip css-->
    <link href="../assets/plugins/image-tooltip/image-tooltip.css"
          th:href="@{/assets/plugins/image-tooltip/image-tooltip.css}" rel="stylesheet"/>

    <!-- Auto Complete css -->
    <link href="../static/assets/plugins/autocomplete/jquery.autocomplete.css"
          th:href="@{/assets/plugins/autocomplete/jquery.autocomplete.css}" rel="stylesheet">

    <!-- Color Skin css -->
    <link id="theme" type="text/css" media="all" th:href="@{/assets/color-skins/color7.css}"
          href="../static/assets/color-skins/color7.css" rel="stylesheet"/>

</head>

<body class="headerstyle3">

<!--Loader-->
<div id="global-loader">
    <img src="../assets/images/loader.svg" class="loader-img" alt="img">
</div><!--/Loader-->

<!--Section-->
<div class="banner-1 cover-image bg-background2" data-image-src="../assets/images/banners/banner1.jpg">
    <!--Topbar-->
    <div class="header-main">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-sm-4 col-7">
                        <div class="top-bar-left d-flex">
                            <div class="clearfix">
                                <ul class="socials">
                                </ul>
                            </div>
                            <div class="clearfix">
                                <ul class="contact">
                                    <li class="d-lg-none">
                                        <a href="#" class="callnumber text-dark"><span><i class="fa fa-phone mr-1"></i>: +425 345 8765</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-8 col-5">
                    </div>
                </div>
            </div>
        </div><!--/Topbar-->

        <!--Header-->
        <header class="header-search header-logosec p-2 header-icons">
            <div class="container">
                <div class="d-flex">
                    <div class="header-search-logo d-none d-lg-block">
<!--                        <a class="header-logo header-brand-img" href="index.html"></a>-->
                    </div>
                    <div class="d-flex ml-auto header-right-icons header-search-icon">
                        <div class="dropdown d-md-flex notifications">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow cart-dropdown">
                                <div class="drop-cart header-dropdown-list">
                                    <div class="border-bottom">
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">

                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/03.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">Angular Template</span>
                                                    <div class="fs-13 text-muted">Angular</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$22</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/04.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">PHP Template</span>
                                                    <div class="fs-13 text-muted">PHP</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$12</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/05.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                    <span class="fs-16 h4 d-block">PSD Template</span>
                                                    <div class="fs-13 text-muted">PSD</div>
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                                <a href="#" class="text-muted"><i class="fe fe-trash-2 fs-13"></i></a>
                                                <div class="h5 text-dark mt-1 mb-0">$5</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-footer">
                                    <div class="btn-list">
                                        <a href="cart.html" class="btn btn-primary  ripple mb-lg-0">View Cart</a>
                                        <a href="checkout.html" class=" btn btn-secondary  ripple mb-lg-0">Checkout</a>
                                    </div>
                                </div>
                            </div>

                        </div><!-- NOTIFICATIONS -->
                        <div class="dropdown d-md-flex message">
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <div class="message-menu header-dropdown-list">
                                    <a class="dropdown-item border-bottom" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image"
                                                      data-image-src="../assets/images/users/male/1.jpg"></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- MESSAGE-BOX -->
                            <div class="dropdown d-md-flex profile-1">
                                <a th:if="${isAuthenticated}" class="nav-link icon text-center" data-toggle="dropdown">
                                    <i class="fe fe-user"></i>
                                    <span class="pulse bg-success"></span>
                                </a>
                                <div class="top-bar-right">
                                    <ul class="custom">
                                        <li th:unless="${isAuthenticated}">
                                            <a href="register.html"
                                               th:href="@{/auth/register}"
                                               class="text-dark"><i class="fa fa-user mr-1"></i>
                                                <span>Register</span></a>
                                        </li>
                                        <li th:unless="${isAuthenticated}">
                                            <a href="login.html"
                                               th:href="@{/auth/login}"
                                               class="text-dark"><i class="fa fa-sign-in mr-1"></i>
                                                <span>Login</span></a>
                                        </li>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <div class="drop-heading">
                                                <div class="text-center">
                                                    <h5 class="text-dark mb-1"><h2 th:if="${isAuthenticated}"
                                                                                   th:text="${session.currentUser}"></h2>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="dropdown-divider m-0"></div>
                                            <a class="dropdown-item" href="users/edit-profile.html"
                                               th:href="@{/user/updateDetails}">
                                                <i class="dropdown-icon ti-write"></i>Edit Profile
                                            </a>
<!--                                            <a class="dropdown-item" href="myads.html">-->
<!--                                                <i class="dropdown-icon  fe fe-codepen"></i> My Addons-->
<!--                                            </a>-->
                                            <div class="dropdown-divider mt-0"></div>
                                            <a class="dropdown-item" th:href="@{/auth/logout}">
                                                <i class="dropdown-icon ti-unlock"></i> Logout
                                            </a>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header><!--/Header-->

        <!--Horizontal-main -->
        <div class="header-style horizontal-main bg-dark-transparent clearfix">
            <div class="horizontal-mainwrapper container clearfix">
                <nav class="horizontalMenu clearfix d-md-flex">
                    <ul class="horizontalMenu-list">
                        <li aria-haspopup="true"><i class="fe fe-home"></i><a th:href="@{/}">Home </a></li>
                        <li aria-haspopup="true" th:if="${isAdmin}">
                            <i class="fe fe-codepen"></i><a th:href="@{/auth/addons/approve}">Approve New Addons</a>
                        </li>
                        <li aria-haspopup="true">
                            <i class="fe fe-codepen"></i><a th:href="@{/addons/all}">All Addons</a>
                        </li>
                        <li aria-haspopup="true" th:if="${isAdmin}">
                            <i class="fe fe-users"></i><a th:href="@{/admins/users/all}">All Users</a></li>
                        <li aria-haspopup="true" th:if="${isEnabledUser}">
                            <i class="fe fe-upload"></i> <a th:href="@{/auth/addons/new}"> Upload Addon</a></li>
                        <li aria-haspopup="true" th:if="${isEnabledUser}">
                            <i class="fa fa-envelope"></i> <a th:href="@{/user/invite}"> Invite a friend</a></li>
                        <li aria-haspopup="true"><i class="fe fe-globe"></i><a th:href="@{/contact}"> Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div><!--/Horizontal-main -->

    <!--Section-->
    <section>
        <div class="sptb-2 sptb-tab">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white mb-6">
                        <h1 class="mb-1">Addonis</h1>
                        <p class="mb-0">Free plugin distribution</p>
                    </div>

                    <!--Search Form-->
                    <form th:action="@{/addons/all}">
                        <div class="row">
                            <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
                                <div class="search-form">
                                    <input th:name="searchedValue" type="search" class="form-control input-lg"
                                           id="text4"
                                           placeholder="Search addon by name...">
                                    <button class="btn ripple "><i class="fe fe-search"></i></button>

                                </div>
                            </div>
                        </div>
                    </form>

                    <!--Search Original-->
<!--                    <div class="row mb-5">-->
<!--                        <div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">-->
<!--                            <div class="search-form">-->
<!--                                <input type="text" class="form-control input-lg keywords-input" id="text4"-->
<!--                                       placeholder="Search Product.....">-->
<!--                                <button class="btn ripple "><i class="fe fe-search"></i></button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>
            </div>
        </div>
    </section><!--/Section-->
</div><!--/Section-->

<section>
    <div class="about-1 cover-image sptb section-bg-background-color1">
        <div class="content-text mb-0 text-white info">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status md-mb-0">
                            <div class="counter-icon">
                                <i class="fe fe-codepen"></i>
                            </div>
                            <h5 class="font-weight-normal">Total Addons</h5>
                            <h2 class="counter mb-0" th:text="*{populateAddonsCount}">2569</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status-1 md-mb-0">
                            <div class="counter-icon text-warning">
                                <i class="fe fe-download"></i>
                            </div>
                            <h5 class="font-weight-normal">Total Downloads</h5>
                            <h2 class="counter mb-0" th:text="*{populateDownloadCount}">1765</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status md-mb-0">
                            <div class="counter-icon text-primary">
                                <i class="fe fe-users"></i>
                            </div>
                            <h5 class="font-weight-normal">Total Users And Admins</h5>
                            <h2 class="counter mb-0" th:text="*{populateUsersAndAdminsCount}"></h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status">
                            <div class="counter-icon text-success">
                                <i class="icon icon-emotsmile"></i>
                            </div>
                            <h5 class="font-weight-normal">Happy Users</h5>
                            <h2 class="counter mb-0" th:text="*{populateUsersCount}">7253</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Featured addons</h2>
        </div>

        <div id="myCarousel1" class="owl-carousel owl-carousel-icons2">

            <!--First Addon-->
            <div class="item" th:each="currentAddon : ${featuredAddons}">
                <div class="card mb-0">
                    <div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Featured</span></div>
                    <div class="item-card2-tans">
                        <div class="item-card2-img">
                            <img th:src="${currentAddon.getImageString()}"
                                 src="../static/assets/images/media/pictures/1.jpg" alt="img" class="cover-image">
                            <div class="tag-text">
                                <span class="bg-dark-transparent tag-option"
                                      th:text="${currentAddon.getIde().name}"></span>
                            </div>
                        </div>
                        <div class="item-card2-icons">
                            <a th:href="@{/addon/{id}(id=${currentAddon.getId()})}" class="bg-info"
                               data-toggle="tooltip" data-placement="top"
                               title="View Details"><i class="fe fe-eye"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="item-card7-desc">
                            <div class="item-card7-text">
                                <a class="text-dark"><h4 class="font-weight-semibold"
                                                         th:text="${currentAddon.getName()}">HTML Template</h4></a>
                            </div>
                            <div class="d-md-flex">
                                <div class="rating-stars d-flex mr-5">
                                    <input type="number" readonly="readonly" class="rating-value star"
                                           name="rating-stars-value" value="4">
                                    <span class="ms-4">
                            <th:block th:each="i: ${#numbers.sequence(1.0, 5.0)}">
                            <i th:if="${i le currentAddon.calculatedScore}" class="mdi mdi-star me-n1 text-warning"></i>
                            </th:block>
                            <th:block th:each="i: ${#numbers.sequence(1.0, 5.0)}">
                            <i th:if="${i gt currentAddon.calculatedScore}" class="mdi mdi-star me-n1 text-light"></i>
                            </th:block>
                                <span th:text="${#numbers.formatDecimal(currentAddon.calculatedScore,1,1)}"></span>
                            </span>
                                </div>
                                <div class="ml-auto">
                                    <div class="item-card9-cost">
                                        <i class="fe fe-download"></i> <h4 class=" mb-0"
                                                                           th:text="${currentAddon.getDownloadCount()}">
                                        15</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer pt-3">
                        <div class="footerimg d-flex mt-0 mb-0">
                            <div class="d-flex footerimg-l mb-0">
                                <img th:src="${currentAddon.getCreator().getImage()}"
                                     src="../static/assets/images/users/female/18.jpg" alt="image"
                                     class="avatar avatar-sm brround  mr-2">
                                <a class="time-title text-muted p-0 leading-normal"
                                   th:text="${currentAddon.getCreator().getUsername()}">Emily Parsons<i
                                        class="si si-check text-success fs-12 ml-1" data-toggle="tooltip"
                                        data-placement="top" title="verified"></i></a>
                            </div>
                            <div class="footerimg-r ml-auto">
                                <i class="fe fe-upload-cloud"></i><span class="text-muted"><i th:text="
                                          ${#temporals.format(currentAddon.getUploadDate(), 'dd MMMM yyyy')}"
                            ></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of First Addon-->

        </div>
    </div>
</section><!--/Section-->

<!--Section-->
<section class="sptb">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Newest addons</h2>
        </div>
        <div id="myCarousel1" class="owl-carousel owl-carousel-icons2">

            <!--First Addon-->
            <div class="item" th:each="currentAddon : ${newestAddons}">
                <div class="card mb-0">
                    <div class="ribbon ribbon-top-left text-danger"><span class="bg-green">Newest</span></div>
                    <div class="item-card2-tans">
                        <div class="item-card2-img">
                            <img th:src="${currentAddon.getImageString()}"
                                 src="../static/assets/images/media/pictures/1.jpg" alt="img" class="cover-image">
                            <div class="tag-text">
                                <span class="bg-dark-transparent tag-option"
                                      th:text="${currentAddon.getIde().name}"></span>
                            </div>
                        </div>
                        <div class="item-card2-icons">
                            <a th:href="@{/addon/{id}(id=${currentAddon.getId()})}" class="bg-info"
                               data-toggle="tooltip" data-placement="top"
                               title="View Details"><i class="fe fe-eye"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="item-card7-desc">
                            <div class="item-card7-text">
                                <a class="text-dark"><h4 class="font-weight-semibold"
                                                         th:text="${currentAddon.getName()}">HTML Template</h4></a>
                            </div>
                            <div class="d-md-flex">
                                <div class="rating-stars d-flex mr-5">
                                    <input type="number" readonly="readonly" class="rating-value star"
                                           name="rating-stars-value" value="4">
                                    <span class="ms-4">
                            <th:block th:each="i: ${#numbers.sequence(1.0, 5.0)}">
                            <i th:if="${i le currentAddon.calculatedScore}" class="mdi mdi-star me-n1 text-warning"></i>
                            </th:block>
                            <th:block th:each="i: ${#numbers.sequence(1.0, 5.0)}">
                            <i th:if="${i gt currentAddon.calculatedScore}" class="mdi mdi-star me-n1 text-light"></i>
                            </th:block>
                                <span th:text="${#numbers.formatDecimal(currentAddon.calculatedScore,1,1)}"></span>
                            </span>
                                </div>
                                <div class="ml-auto">
                                    <div class="item-card9-cost">
                                        <i class="fe fe-download"></i> <h4 class=" mb-0"
                                                                           th:text="${currentAddon.getDownloadCount()}">
                                        15</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer pt-3">
                        <div class="footerimg d-flex mt-0 mb-0">
                            <div class="d-flex footerimg-l mb-0">
                                <img th:src="${currentAddon.getCreator().getImage()}"
                                     src="../static/assets/images/users/female/18.jpg" alt="image"
                                     class="avatar avatar-sm brround  mr-2">
                                <a class="time-title text-muted p-0 leading-normal"
                                   th:text="${currentAddon.getCreator().getUsername()}">Emily Parsons<i
                                        class="si si-check text-success fs-12 ml-1" data-toggle="tooltip"
                                        data-placement="top" title="verified"></i></a>
                            </div>
                            <div class="footerimg-r ml-auto">
                                <i class="fe fe-upload-cloud"></i><span class="text-muted"><i th:text="
                                          ${#temporals.format(currentAddon.getUploadDate(), 'dd MMMM yyyy')}"
                            ></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of First Addon-->

        </div>
    </div>
</section><!--/Section-->

<!--Section-->
<section class="sptb">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Most popular addons</h2>
        </div>
        <div id="myCarousel1" class="owl-carousel owl-carousel-icons2">

            <!--First Addon-->
            <div class="item" th:each="currentAddon : ${mostPopularAddons}">
                <div class="card mb-0">
                    <div class="ribbon ribbon-top-left text-danger"><span class="bg-yellow">Popular</span></div>
                    <div class="item-card2-tans">
                        <div class="item-card2-img">
                            <!--                            <a href="page-details.html"></a>-->
                            <img th:src="${currentAddon.getImageString()}"
                                 src="../static/assets/images/media/pictures/1.jpg" alt="img" class="cover-image">
                            <div class="tag-text">
                                <span class="bg-dark-transparent tag-option"
                                      th:text="${currentAddon.getIde().name}"></span>
                            </div>
                        </div>
                        <div class="item-card2-icons">
                            <a th:href="@{/addon/{id}(id=${currentAddon.getId()})}"
                               class="bg-info" data-toggle="tooltip" data-placement="top" title="View Details"><i
                                    class="fe fe-eye"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="item-card7-desc">
                            <div class="item-card7-text">
                                <a class="text-dark">
                                    <h4 class="font-weight-semibold" th:text="${currentAddon.getName()}">HTML
                                        Template</h4></a>
                            </div>
                            <div class="d-md-flex">
                                <div class="rating-stars d-flex mr-5">
                                    <input type="number" readonly="readonly" class="rating-value star"
                                           name="rating-stars-value" value="4">
                                    <span class="ms-4">
                            <th:block th:each="i: ${#numbers.sequence(1.0, 5.0)}">
                            <i th:if="${i le currentAddon.calculatedScore}" class="mdi mdi-star me-n1 text-warning"></i>
                            </th:block>
                            <th:block th:each="i: ${#numbers.sequence(1.0, 5.0)}">
                            <i th:if="${i gt currentAddon.calculatedScore}" class="mdi mdi-star me-n1 text-light"></i>
                            </th:block>
                                <span th:text="${#numbers.formatDecimal(currentAddon.calculatedScore,1,1)}"></span>
                            </span>
                                </div>
                                <div class="ml-auto">
                                    <div class="item-card9-cost">
                                        <i class="fe fe-download"></i><h4 class=" mb-0"
                                                                          th:text=" ${currentAddon.getDownloadCount()}">
                                        15</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer pt-3">
                        <div class="footerimg d-flex mt-0 mb-0">
                            <div class="d-flex footerimg-l mb-0">
                                <img th:src="${currentAddon.getCreator().getImage()}"
                                     src="../assets/images/users/female/18.jpg" alt="image"
                                     class="avatar avatar-sm brround  mr-2">
                                <a class="time-title text-muted p-0 leading-normal"
                                   th:text="${currentAddon.getCreator().getUsername()}">Emily Parsons<i
                                        class="si si-check text-success fs-12 ml-1" data-toggle="tooltip"
                                        data-placement="top" title="verified"></i></a>
                            </div>
                            <div class="footerimg-r ml-auto">
                                <span class="text-muted">
                                    <i class="fe fe-upload-cloud"></i><i th:text="
                                          ${#temporals.format(currentAddon.getUploadDate(), 'dd MMMM yyyy')}"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of First Addon-->
        </div>
    </div>
</section><!--/Section-->

<!--Section-->
<section>
    <div class="section-bg-background-color cover-image">
        <div class="container">
            <div class="row no-gutters row-deck text-white">
                <div class="col-md-4">
                    <div class="p-5 bg-dark-transparent01">
                        <div class="card-body text-center">
                            <div class="widgets-cards-icons">
                                <div class="wrp counter-icon1 mr-5">
                                    <i class="fe fe-airplay"></i>
                                </div>
                            </div>
                            <h6 class="card-title mb-4">Quality Products</h6>
                            <p class="text-white-80"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-5 mt-5 mt-md-0">
                        <div class="card-body text-center">
                            <div class="widgets-cards-icons">
                                <div class="wrp counter-icon1 mr-5">
                                    <i class="fe fe-thumbs-up"></i>
                                </div>
                            </div>
                            <h6 class="card-title  mb-4">Best Security</h6>
                            <p class="text-white-80"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-5 mt-5 mt-md-0 bg-dark-transparent01">
                        <div class="card-body text-center">
                            <div class="widgets-cards-icons">
                                <div class="wrp counter-icon1 mr-5">
                                    <i class="fe fe-headphones"></i>
                                </div>
                            </div>
                            <h6 class="card-title  mb-4">24/7 Customer Support</h6>
                            <p class="text-white-80"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/Section-->

<!--Section-->
<section class="sptb" th:unless="${isAuthenticated}">
    <div class="container ">
        <div class="row marketplace-section">
            <div class="col-md-6">
                <div class="card mb-lg-0 service-widgets1">
                    <div class="text-center card-body">
                        <div class="product-imgs">
                            <li th:unless="${isAuthenticated}">
                                <img src="../assets/images/svg/1.svg" class="" alt="img">
                        </div>
                        <li th:unless="${isAuthenticated}">
                            <h3 class="mt-3 mb-2">Upload addons for the first time?</h3>
                            <p>Register</p>
                            <a href="register.html"
                               th:href="@{/auth/register}"
                               class="btn ripple  btn-primary">Create free account</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6" th:unless="${isAuthenticated}">
                <div class="card mb-0 service-widgets1">
                    <div class="text-center card-body">
                        <div class="product-imgs">
                            <li th:unless="${isAuthenticated}">
                                <img src="../assets/images/svg/2.svg" class="" alt="img">
                        </div>
                        <li th:unless="${isAuthenticated}">
                            <h3 class="mt-3 mb-2">Already have an account?</h3>
                            <p>Login</p>
                            <a href="login.html"
                               th:href="@{/auth/login}"
                               class=" btn ripple  btn-secondary">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Footer Section-->
<section>
    <footer class="bg-dark text-white">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <h6>About</h6>
                        <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>Addonis - The better add-ons registry</p>
                        <ul class="list-unstyled list-inline mt-3">
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <h6>Our Services</h6>
                        <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="list-unstyled mb-0">
                            <li><a href="javascript:;">Our Team</a></li>
                            <li><a href="javascript:;">Contact US</a></li>
                            <li><a href="javascript:;">About</a></li>
                            <li><a href="javascript:;">Services</a></li>
                            <li><a href="javascript:;">Blog</a></li>
                            <li><a href="javascript:;">Terms and Services</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <h6>Contact</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="footer-conatct list-unstyled mb-0 contact-footer">
                            <li>
                                <a><i class="fa fa-home mr-3 text-white"></i>Hristian Ivanov</a>
                            </li>
                            <li>
                                <a><i class="fa fa-envelope mr-3 text-white"></i> hristian.ivanov100@gmail.com</a>
                            </li>
                            <li>
                                <a><i class="fa fa-phone mr-3 text-white"></i> +359 896 710 557</a>
                            </li>
                            <li>
                                <a><i class="fa fa-home mr-3 text-white"></i>Ivan Ivanov</a>
                            </li>
                            <li>
                                <a><i class="fa fa-envelope mr-3 text-white"></i>ivanov.biol@abv.bg</a>
                            </li>
                            <li>
                                <a><i class="fa fa-phone mr-3 text-white"></i> +359 883 315 999</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="bg-dark text-white-50 p-0">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center">
                        Copyright © 2021 <a href="#" class="fs-14 text-primary">Graduate Team Project</a>. Designed by
                        <a href="#"
                           class="fs-14 text-primary">
                            Hristian and Ivan Team </a>All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--Footer Section-->

<!-- Back to top -->
<a href="#top" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

<!-- JQuery js-->
<script src="../static/assets/js/jquery-3.2.1.min.js"
        th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>

<!-- Bootstrap js -->
<script src="../static/assets/plugins/bootstrap-4.3.1/js/popper.min.js"
        th:src="@{/assets/plugins/bootstrap-4.3.1/js/popper.min.js}"></script>
<script src="../static/assets/plugins/bootstrap-4.3.1/js/bootstrap.min.js"
        th:src="@{/assets/plugins/bootstrap-4.3.1/js/bootstrap.min.js}"></script>

<!--JQuery Sparkline js-->
<script src="../static/assets/js/jquery.sparkline.min.js"
        th:src="@{/assets/js/jquery.sparkline.min.js}"></script>

<!-- Circle Progress js-->
<script src="../static/assets/js/circle-progress.min.js"
        th:src="@{/assets/js/circle-progress.min.js}"></script>

<!-- Star Rating js-->
<script src="../static/assets/plugins/rating/jquery.rating-stars.js"
        th:src="@{/assets/plugins/rating/jquery.rating-stars.js}"></script>

<!--Counters js-->
<script src="../static/assets/plugins/counters/counterup.min.js"
        th:src="@{/assets/plugins/counters/counterup.min.js}"></script>
<script src="../static/assets/plugins/counters/waypoints.min.js"
        th:src="@{/assets/plugins/counters/waypoints.min.js}"></script>
<script src="../static/assets/plugins/counters/numeric-counter.js"
        th:src="@{/assets/plugins/counters/numeric-counter.js}"></script>

<!--Owl Carousel js -->
<script src="../static/assets/plugins/owl-carousel/owl.carousel.js"
        th:src="@{/assets/plugins/owl-carousel/owl.carousel.js}"></script>

<!--Horizontal Menu js-->
<script src="../static/assets/plugins/horizontal-menu/horizontal-menu.js"
        th:src="@{/assets/plugins/horizontal-menu/horizontal-menu.js}"></script>

<!--JQuery TouchSwipe js-->
<script src="../static/assets/js/jquery.touchSwipe.min.js"
        th:src="@{/assets/js/jquery.touchSwipe.min.js}"></script>

<!--Select2 js -->
<script src="../static/assets/plugins/select2/select2.full.min.js"
        th:src="@{/assets/plugins/select2/select2.full.min.js}"></script>
<script src="../static/assets/js/select2.js"
        th:src="@{/assets/js/select2.js}"></script>

<!-- Custom scroll bar js-->
<script src="../static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js"
        th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js}"></script>

<!-- Image-tooltip js -->
<script src="../static/assets/plugins/image-tooltip/image-tooltip.js"
        th:src="@{/assets/plugins/image-tooltip/image-tooltip.js}"></script>

<!--Auto Complete js -->
<script src="../static/assets/plugins/autocomplete/jquery.autocomplete.js"
        th:src="@{/assets/plugins/autocomplete/jquery.autocomplete.js}"></script>
<script src="../static/assets/plugins/autocomplete/autocomplete.js"
        th:src="@{/assets/plugins/autocomplete/autocomplete.js}"></script>

<!-- Sticky js-->
<script src="../static/assets/js/sticky.js"
        th:src="@{/assets/js/sticky.js}"></script>

<!-- Swipe js-->
<script src="../static/assets/js/swipe.js"
        th:src="@{/assets/js/swipe.js}"></script>

<!-- Scripts js-->
<script src="../static/assets/js/owl-carousel.js"
        th:src="@{/assets/js/owl-carousel.js}"></script>

<!-- Custom Js-->
<script src="../static/assets/js/custom.js"
        th:src="@{/assets/js/custom.js}"></script>

</body>
</html>